<!DOCTYPE html>
<html lang="en">
<head>	
<link rel="icon" href="{{url_for('static', filename='assets/images/AD_favicon.png')}}" type="image/png">
<title>AD辅助诊断系统</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--<meta http-equiv="refresh" content="20">-->

<link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../../static/css/fullcalendar.css" />
<link rel="stylesheet" href="../../static/css/matrix-style.css" />
<link rel="stylesheet" href="../../static/css/matrix-media.css" />
<link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.css"  />
<link rel="stylesheet" href="../../static/css/jquery.gritter.css" />
<link rel='stylesheet' href='../../static/css/font.css' />
<!-- <link rel="stylesheet" type="text/css" href="practice_system/bootstrap-3.3.7/css/bootstrap.min.css"> -->
</head>
<body >

<!--Header-part-->

<div id="header">
  <h3 style="margin:15px auto auto 10px;">AD辅助诊断系统</h3>
  <!-- <h1><a href="#">实习管理系统</a></h1> -->
</div>
<!--close-Helabeler-part--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">

  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">用户配置</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/UserInfo"><i class="icon-user"></i> 个人信息</a></li>
        <li class="divider"></li>
        <li><a href="/UserLogout"><i class="icon-key"></i> 登出</a></li>
      </ul>
    </li>
    <!-- <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">消息</span> <span class="label label-important">5</span> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> 新消息</a></li>
        <li class="divider"></li>
        <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> outbox</a></li>
        <li class="divider"></li>
        <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> trash</a></li>
      </ul>
    </li> -->
    <li class=""><a title="" href="/UserSetting"><i class="icon icon-cog"></i> <span class="text">设置</span></a></li>
    <li class=""><a title="" href="/UserLogout"><i class="icon icon-share-alt"></i> <span class="text">登出</span></a></li>
    <li class=""><a title="" href="/UserIndex"><i class="icon icon-user"></i> <span class="text">普通用户：</span><span id="userid">{{ username }}</span></a></li>
  </ul>
</div>

<!--左边侧边栏-->
<div id="sidebar"><a href="/UserIndex" class="visible-phone"><i class="icon icon-home"></i> 诊断申请</a>
  <ul>
    <li><a href="/UserIndex"><i class="icon icon-home"></i> <span> 主页 </span></a> </li>
    <li class="submenu active"> <a href="/UserDApply"><i class="icon icon-time"></i> <span>诊断申请</span>
    	<ul>
		  <li><a href="/UserDApply">诊断申请</a></li>
		  <li><a href="/UserGetMRI">上传MRI影像</a></li>
	</ul>
    <!-- </a> -->
    </li>
    <li class="submenu"> <a href="/UserResu"><i class="icon icon-th-list"></i> <span>诊断结果反馈</span>
      <ul>
        <li><a href="/UserResu">诊断结果反馈</a></li>
        <li><a href="/UserHistoryInfo">历史信息对比</a></li>
      </ul>
    </li>
    <li><a href="/UserInfo"><i class="icon icon-user"></i> <span>个人信息</span></a></li>
    <li><a href="/UserContact"><i class="icon icon-phone"></i> <span>联系我们</span></a></li>
  </ul>
</div>
<!--sidebar-menu-->




<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/UserIndex" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 主页</a></div>
  </div>
  
  <div class="container-fluid">						
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon"> <i class="icon-info-sign"></i>
							</span>
							<h5>诊断申请</h5>
						</div>
						<!-- 个人详细信息 -->
						<div class="widget-content nopadding" id="message">
							<form class="form-horizontal" method="post" action="/DApply" id="basic_validate" name="basic_validate">

								
								<div class="control-group">
									<label class="control-label">MRI影像名称</label>
									<div class="controls">
										<input type="text" id="MRI_Name" class="MRI_Name" name="MRI_Name" required="required" value={{ MRI_Name }} placeholder="MRI影像名称" readonly />
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label">申请时间</label>
									<div class="controls">
										<input type="text" id="upload_time" class="upload_time" name="upload_time" required="required" placeholder="上传时间" readonly />
									</div>
								</div>
																
								<div class="form-actions" style="text-align: center;">
									<p id="msg" name="msg" style="color: red;">{{ msg }}</p>
									<input id="submit" type="submit" value="提交申请"
										class="btn btn-large btn-success">
								</div>
							</form>
						</div>											
					</div>			
		</div>
		
		
		<div class="container-fluid">
    <!--在这里面写主要内容-->
 <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5 id="leave_sid">诊断申请列表</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>诊断申请ID</th>
                  <th>普通用户ID</th>
                  <th>MRI影像名称</th>
                  <th>申请时间</th>
                  <th>诊断状态</th>
                  <th>预测</th>
                  <th>海马体体积</th>
                  <th>预测结果</th>
                </tr>
              </thead>
              <tbody id="apply_content">

               {% for i in dapply %}

               <tr>

               	<td>{{ i[0] }}</td>
               	<td>{{ i[1] }}</td>
               	<td>{{ i[2] }}</td>
               	<td>{{ i[3] }}</td>
               	<td name="apply" style="color: red;">{{ i[4] }}</td>
               	<td>
               		<form method="post" action={{ i[7] }}>
               			<!--批准：btn btn-success；完成批准：btn btn-inverse-->
               		<input id="allow" name="allow" class={{ i[8] }} type={{ i[9] }} value={{ i[10] }}>
               		</form>
               		{{ i[11]|safe}}

               	</td>
               <td>{{ i[5] }}</td>
               <td>{{ i[6] }}</td>

               </tr>

               {% endfor %}
              </tbody>
            </table>
          </div>
</div>

        <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="DataTables_Table_0_paginate"><a tabindex="0" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default " id="DataTables_Table_0_first">首页</a><a tabindex="0" class="previous fg-button ui-button ui-state-default " id="DataTables_Table_0_previous">上一页</a><span id="page"></span><a tabindex="0" class="next fg-button ui-button ui-state-default" id="DataTables_Table_0_next">下一页</a><a tabindex="0" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" id="DataTables_Table_0_last">末页</a></div>

  </div>

    <div class="container-fluid">
    <!--在这里面写主要内容-->
 <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5 id="leave_sid">专家列表</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>性别</th>
                  <th>出生日期</th>
                    <th>是否可见</th>
                </tr>
              </thead>
              <tbody id="apply_content">
                {% for i in expert %}
               <tr>
               	<td>{{ i[2] }}</td>
               	<td>{{ i[3] }}</td>
               	<td>{{ i[4] }}</td>
                <td>
                <input type="checkbox" name="visibility" value="{{ i[2] }}" {% if i[5] == 1 %}checked{% endif %} onclick="updateVisibility('{{ i[2] }}', this.checked)">
                </td>
               </tr>
               {% endfor %}
              </tbody>
            </table>
          </div>
</div>

<script>
function updateVisibility(expertName, checkbox) {
    console.log("updateVisibility function called");
    var visibility = checkbox ? 1 : 0;

    $.ajax({
        url: '/updateVisibility',
        type: 'POST',
        data: { expertName: expertName, visibility: visibility },
       success: function(response) {
            console.log(response);
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>

        <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="DataTables_Table_0_paginate"><a tabindex="0" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default " id="DataTables_Table_0_first">首页</a><a tabindex="0" class="previous fg-button ui-button ui-state-default " id="DataTables_Table_0_previous">上一页</a><span id="page"></span><a tabindex="0" class="next fg-button ui-button ui-state-default" id="DataTables_Table_0_next">下一页</a><a tabindex="0" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" id="DataTables_Table_0_last">末页</a></div>

  </div>


</div>





		
		
<!--<script type="text/javascript" src="../../static/jquery-3.3.1.min.js"></script>-->
<script type="text/javascript" src="../../static/js/excanvas.min.js"></script> 
<script type="text/javascript" src="../../static/js/jquery.min.js"></script> 
<script type="text/javascript" src="../../static/js/jquery.ui.custom.js"></script> 
<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="../../static/js/jquery.flot.min.js"></script> 
<script type="text/javascript" src="../../static/js/jquery.flot.resize.min.js"></script> 
<script type="text/javascript" src="../../static/js/jquery.peity.min.js"></script> 
<script type="text/javascript" src="../../static/js/fullcalendar.min.js"></script> 
<script type="text/javascript" src="../../static/js/matrix.js"></script> 
<script type="text/javascript" src="../../static/js/matrix.dashboard.js"></script> 
<script type="text/javascript" src="../../static/js/jquery.gritter.min.js"></script> 
<script type="text/javascript" src="../../static/js/matrix.interface.js"></script> 
<script type="text/javascript" src="../../static/js/matrix.chat.js"></script> 
<script type="text/javascript" src="../../static/js/jquery.validate.js"></script> 
<script type="text/javascript" src="../../static/js/matrix.form_validation.js"></script> 
<script type="text/javascript" src="../../static/js/jquery.wizard.js"></script> 
<script type="text/javascript" src="../../static/js/jquery.uniform.js"></script> 
<script type="text/javascript" src="../../static/js/select2.min.js"></script> 
<script type="text/javascript" src="../../static/js/matrix.popover.js"></script> 
<script type="text/javascript" src="../../static/js/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="../../static/js/matrix.tables.js"></script> 
<script type="text/javascript" src="../../static/js/user/UserDApply.js"></script>
{#<script>#}
{#  $(document).ready(function() {#}
{#    $('input[name="visibility"]').on('click', function() {#}
{#      var expertId = $(this).val();#}
{#      var visibility = $(this).prop('checked');#}
{##}
{#      // 发送 AJAX 请求以更新数据库中的可见性值#}
{#      $.ajax({#}
{#        url: '/update-visibility',  // 根据您的服务器端路由设置适当的 URL#}
{#        type: 'POST',#}
{#        data: {#}
{#          expertId: expertId,#}
{#          visibility: visibility#}
{#        },#}
{#        success: function(response) {#}
{#          // 如有需要，处理成功响应#}
{#          console.log('可见性已成功更新。');#}
{#        },#}
{#        error: function(xhr, status, error) {#}
{#          // 如有需要，处理错误响应#}
{#          console.error('更新可见性时出错：', error);#}
{#        }#}
{#      });#}
{#    });#}
{#  });#}
{#</script>#}


</body>
</html>
